name: Release

on:
  push:
    branches:
      - master

jobs:
  deploy-pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          name: Docker Image CI

  deploy-docker:
    runs-on: ubuntu-latest

    needs: deploy-pypi
    steps:
      - uses: actions/checkout@v2
      - name: Login
        env:
          DOCKER_USER: ${{secrets.DEVOPSHQ_DOCKER_USER}}
          DOCKER_PASSWORD: ${{secrets.DEVOPSHQ_DOCKER_TOKEN}}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - name: Build
        run: docker build . --file docker/Dockerfile --tag devopshq/artifactory-cleanup:latest
      - name: Push
        run: docker push devopshq/artifactory-cleanup:latest
