name: Release

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - 'master'

jobs:
  deploy-pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build pytest
          pip install .

      - name: Test with pytest
        run: |
          python3 -m pytest -s --color=yes -vv tests artifactory_cleanup

      - name: Build package
        run: python -m build

      - name: Publish package
        if: github.ref_type == 'tag'
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          name: Docker Image CI

  deploy-docker:
    runs-on: ubuntu-latest

    needs: deploy-pypi
    steps:
      - uses: actions/checkout@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: devopshq/artifactory-cleanup
          flavor: latest=true
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}

      - name: Login to image repository
        if: github.ref_type == 'tag'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DEVOPSHQ_DOCKER_USER }}
          password: ${{ secrets.DEVOPSHQ_DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/Dockerfile
          push: ${{ github.ref_type == 'tag' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
